* {
	padding:0;
	margin:0;
}

.slider {
	width:940px;
	height:413px;
	position:relative;
	z-index:1;
	float:left;

}
.items {
	display:none;
}

.pags {
	position:absolute;
	bottom:0px;
	left:526px;
	z-index:999;
	background:url(/images/op80_B.png) 0 0 repeat;
	width:21px;
	height:95px;
	padding:9px 0px 0px 13px;
}
.pags li {  margin-top:5px; height:11px;}
.pags li a {  width:11px; display:inline-block; height:11px; background:url(/images/pags.png) 0 0 no-repeat;}

.pags li.current a , .pagination li:hover a { background-position:0 -11px;}



.banner {
	overflow:hidden;
	position:absolute;
	left:560px;
	top:0px;
	color:#fff;
	z-index:15;
	text-align:left;
	background:#000;
	width:300px;
	height:363px;
	padding:31px 40px 20px 40px;
}

.banner>.price {font-size:33px; font-family:Arial, Helvetica, sans-serif; line-height:40px; color:#fff; margin-top:23px; float:left;}

.listbanner { width:300px; }
.listbanner li a:hover {  text-decoration:none; color:#fff;}
.listbanner li {padding:7px 0 6px 0px; border-top:1px solid #3d3c3c; font-size:15px; font-family:Arial, Helvetica, sans-serif; line-height:18px;}
.listbanner li:first-child {border-top:none;}
.listbanner li a { color:#f73d2a;  text-decoration:none; float:right;}
.listbanner li a span {display:block; margin-top:0px; color:#fff;}
