.sf-menu {float:left; padding-bottom:0px; }
.sf-menu ul {position:absolute; top:-999px; display:none; }
.sf-menu li {position:relative; float:left;}
.sf-menu a {display:block; }
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:399}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;}

ul.sf-menu>li { display:inline-block; padding:0px 2px 0px 0px; text-align:center; background:url(/images/line_menu.png) right 0 repeat-y; }
ul.sf-menu>li:first-child {  }
ul.sf-menu>li>a { font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:15px; line-height:18px; letter-spacing:0px; color:#fff; padding:13px 20px 14px 20px; background:url(/images/button_shape.png) 0 0 repeat-x; }




ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover { }
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover {text-decoration:none; color:#fff; background:url(/images/button_shape.png) 0 -70px repeat-x; }


ul.sf-menu>li>a.sf-with-ul>span.sf-sub-indicator { }
ul.sf-menu>li.current>a span, ul.sf-menu>li.sfHover>a span, ul.sf-menu>li>a:hover span {}



ul.sf-menu>li>ul {width:175px; background:#393939; padding:0px 0px 0px 0px; left:0px; top:45px; z-index:999; position:absolute; }
ul.sf-menu>li>ul>li, ul.sf-menu>li.sfHover>ul>li { text-align:left; display:block; width:100%; border-top:1px solid #4d4d4d;}
ul.sf-menu>li>ul>li:first-child, ul.sf-menu>li.sfHover>ul>li:first-child {border-top:none;}

ul.sf-menu>li.sfHover>ul>li>a { font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; color:#9a9999; padding:7px 0 6px 0px; display:inline-block; width:155px; padding-left:20px;}
ul.sf-menu>li.sfHover>ul>li:hover, ul.sf-menu li.sfHover>ul>li.sfHover{}
ul.sf-menu>li.sfHover>ul>li>a:hover, ul.sf-menu li.sfHover>ul>li.sfHover a{ color:#f73d2a; text-decoration:none; background:#262626;}

ul.sf-menu>li li>a.sf-with-ul>span.sf-sub-indicator { }
ul.sf-menu>li li.sfHover>a.sf-with-ul>span.sf-sub-indicator {}
ul.sf-menu>li li.current>a.sf-with-ul>span.sf-sub-indicator {}



ul.sf-menu>li.sfHover>ul>li.sfHover>ul { }
ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li, ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li { }
ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:first-child, ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:first-child {  }

ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:first-child, ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:first-child {}
ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li>a {}
ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:hover { }
ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li>a:hover {}